<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<title>Asakusa Town</title>
	<meta name="description"	content="Asakusa - great town to stay in Tokyo">
	<meta name="keywords"		content="Japan,Tokyo,Asakusa,train,subway,cheap,budget,backpacker,hotel,hostel,ryokan">
	<link rel="canonical"		href="https://tokyotransportguide.com/en/asakusa.html" />

	<link rel="stylesheet"		href="blue.css">
	{% include ac_pagelevel_ad_2017_07.x %}
</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">Asakusa</h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/">
			<img src="/img/web/fb29x29.png" alt="facebook"/>
	</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">

<!-- LEAD -->
<i>Asakusa is an old town with some classical flavor.</i>


Asakusa is one of good choices for a town to stay in Tokyo. It has a laid back and lively old quarter atmosphere, right in the central part of Tokyo. And it has easy access to most tourist spots in Tokyho.<br>
<br>

<article>
<h2>Transport</h2>
<ul>
<li>There is a direct train from Narita Airport to Asakusa - Keisei Main Line</li>
<li>There is a direct train from Haneda Airport to Asakusa - Keikyu Line</li>
<li>Two subway lines to the center pass through Asakusa - Ginza Line and Asakusa Line (Asakusa Line operates seamlessly with both Keisei Line and Keikyu Line.)</li>
</ul>
<br>
</article>

<article>
<h2>To See</h2><ul>
<li>See gorgeous Sensoji Temple (Bhuddist) and Asakusa Shrine (Shinto) at one place!</li>
<li>Enjoy the quite lively 'sando' (road leading to a temple) which offers so many shops, food and genuinely Japanese souvenirs.</li>
<li>Stroll along the traditional malls and feel the down-to-earth atmosphere.</li>
</ul>
<br>
</article>

<article>
<h2>Hotspring in Asakusa!</h2>
'Jakotsu-yu' has been around since Edo era.<br>
Address: 1-11-11 Asakusa, Taitao-ku, Tokyo<br>
Brin your own hand-towel and shampoo. Closed every Tuesday. Price: 460 yen.<br>
Official site (in Japanese): <a hreflang="ja" href="http://www.jakotsuyu.co.jp/access/index.html">Jakotsuyu</a><br>
<br>
</article>

<article>
<h2>Boat to Odaiba</h2>
Hop on a water bus to Odaiba and enjoy the great view! The boat from Asakusa goes down the Sumida River, and then continues to Odaiba through the Tokyo Bay.<br>
<br>
</article>

<article>
<h2>Where to Stay in Tokyo</h2>
You may be asking, "Where should I stay in Tokyo?" There are a few good options, but Asakusa town is probably the best for many people.<br>
Asakusa is an 'old town' in Tokyo. Asakusa itself is in a central location and has especially good access to most tourist destinations with two metro lines, two train lines and a boat for Odaiba. Asakusa Metro station is served by two subway lines:<br>
<ul>
<li>Asakusa line - directly connect Narita Airport, Asakusa, Shimbashi, Shinagawa, Yokohama and Yokosuka, even without transfer. Also easy transfer to Roppongi - the most popular bar/club area filled with executives, celebrities and expats at night. (Change at Daimon for Toei Shinjuku Line.) For Akihabara, transfer to JR Sobu Line after a few stops, at Asakusabashi station. <br>
<li>Ginza Line - directly connects Asakusa, Ginza, Akasaka, and Shibuya. The Tobu line runs directly from Asakusa to Nikko, a scenic tourist spot in the north of Kanto Area. <br>
</ul>
<br>
But most of all, I can recommend Asakusa for its overall 'atmosphere' which is very different from busy business areas or quiet residential areas. That is probably why Asakusa attracts so many tourists every year.<br>
Asakusa has many hotels and hostels, many of which are best rated in Tokyo. You can also find some 'Ryokan' style hotels with old-fashioned 'tatami' floor.<br>
And here are a few more things to note:<br>
<ul>
<li>You'll find a lot of traditional food and goods, especially around 'Sensoji'.</li>
<li>Asakusa has plenty of hotels and hostels, as well as classic style 'Ryokan's.</li>
<li>Somehow, backpackers in Tokyo seem to like Asakusa.
<li>You can visit Odaiba island by direct boat from Asakusa. It takes less than an hour.</li>
<li>Most of all, you can JUST WALK to everywhere in Asakusa from your hotel.</li>
</ul>
<br>
Probably there is more to tell you about Asakusa, but I'm running out of time for now...so, see yourself! ;)<br>
<br>
</article>

<div style="width:100%"> <!-- ad -->
<div style="width: 500px; margin:auto;"> <!-- ad -->

<!-- asakusa - search box -->
<strong>Looking for a hotel in Asakusa?</strong> (Ad):<br>
<ins class="bookingaff" data-aid="1445709" data-target_aid="936337" data-prod="nsb" data-width="500" data-height="330" data-dest_id="2042" data-dest_type="district">
    <!-- Anything inside will go away once widget is loaded. -->
    <a href="//www.booking.com?aid=936337">Booking.com</a>
</ins>
<script type="text/javascript">
    (function(d, sc, u) {
      var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = u + '?v=' + (+new Date());
      p.parentNode.insertBefore(s,p);
      })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
</script>
<br>

<!-- japan -- inspiring search box -->
<ins class="bookingaff" data-aid="1445702" data-target_aid="936337" data-prod="sbp" data-width="500" data-height="180" data-lang="en-US" data-cc1="jp">
    <!-- Anything inside will go away once widget is loaded. -->
    <a href="//www.booking.com?aid=936337">Booking.com</a>
</ins>
<script type="text/javascript">
    (function(d, sc, u) {
      var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = u + '?v=' + (+new Date());
      p.parentNode.insertBefore(s,p);
      })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
</script>

</div>
</div>

</main>
<!-- ***************************
	BOTTOM AD / FOOTER
	**************************** -->
{% include ac_bottom_ad.x %}
{% include ac_footer.x %}
</body>
</html>
