<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<title>At The Airport</title>
	<meta name="description"	content="Things to do at the airport">
	<link rel="canonical" href="https://tokyotransportguide.com/en/at-the-airport.html" />

	<link rel="stylesheet"		href="blue.css">

	{% include ac_pagelevel_ad_2017_07.x %}

</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">At the Airport</h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/">
			<img src="/img/web/fb29x29.png" alt="facebook"/>
	</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">

<!-- LEAD -->
<i>A few suggestions on what to do while you are at the airport</i>

<article>
<h2>Money Exchange</h2>
Money changers are hard to find in Tokyo, except for banks which operate only 9:00-15:00 on weekdays. If you have foreign currency, you may be able to save time by exchanging it at the airport.<br>
<br>
</article>

<article>
<h2>ATM</h2>
Some Japanese bank ATMs do not accept foreign credit cards. In that case you can try <b>Seven Bank</b> which is commonly found at a Seven Eleven convenience store.<br>
<br>
</article>

<article>
<h2>WiFi</h2>
Free WiFi is rare Japan. Airports have WiFi. Starbucks shops usually have free WiFi for guests, but you are required to register your email with them beforhand. See <a href="/en/basic.html">Basic Information</a> for advance registration with Starbucks WiFi.<br>
<br>
</article>

<article>
<h2>Public Phone</h2>
While public phones are disappearing from Japanese towns, they are easily found at airport terminals. Call with coins or a 'telephone card' sold at convenience stores such as Seven-Eleven, Family Mart or Lawson at the airport.<br>
<br>
</article>

<article>
<h2>Get a copy of free subway map in English</h2>
You can get a free subway map in English at Narita Airport information desk.<br>
<br>
</article>

</main>
<!-- ***************************
	BOTTOM AD / FOOTER
	**************************** -->
{% include ac_bottom_ad.x %}
{% include ac_footer.x %}
</body>
</html>
