<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<meta name="description"	content="Basic Facts about Japan">
	<link rel="stylesheet"		href="blue.css">
	<link rel="canonical"		href="https://tokyotransportguide.com/en/basic.html" />
	<title>Basic Facts about Japan</title>

	{% include ac_pagelevel_ad_2017_07.x %}
</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">Basic Facts about Japan </h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/">
			<img src="/img/web/fb29x29.png" alt="facebook"/>
	</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">
<!-- <a class="obutton" href="#" onClick="toggle_all();">Open/Close All</a> -->

<article>
<h2>Cash or Card?</h2>
Cash. Be sure to carry some cash all the time. Changing at the airport is probably the best strateg. Don't worry if you have only large banknotes - even the smallest shops have exact changes - except on buses, in which case 1000 yen banknoted is usually the maximum value accepted. All ticket machines at train/metro stations, as far as I know,  accept the largest banknote (10,000 yen) without problems.<br>
</article>

<article>
<h2>Currency Exchange (Yen / 円)</h2>
As stated above, Exchanging at the airport is the best strategy, because bank branches at airports are open regardless of bank holidays. If you need to change from a foreign currency in town, go to a bank on a weekday between 9am and 3pm. Not all branches change currency, so you should find one which does, for example, at the airport. Banks don't work on bank holidays -  obviously - Saturday, Sunday and national holidays. Check them at:<br>
<a href="http://www.timeanddate.com/calendar/?year=2019&country=26"  rel="nofollow" target="_blank">TimeAndDate.com</a><br>
(It's not our site, but I find it useful.)<br>
Exceptionally, bank branches at airports are almost always open.
</article>

<article>
<h2>Tap water</h2>
Tap water in Japan is drinkable.
</article>

<article>
<h2>Tipping</h2>
Tipping is never necessary in Japan. When you really want to, use banknotes, because tipping with coin can be rude.
</article>

<article>
<h2>Time Zone</h2>
Japanese time zone is GMT+9. In other words, when it is 10:00 in London, it is 19:00 in Tokyo. Japan has no summer time.<br>
</article>

<article>
<h2>Electricity</h2>
100V. Power plugs are almost compatible with U.S. plugs.<br>
The frequency is 60Hz in western regions and 50Hz in eastern regions including Tokyo. This usually wouldn't be a problem, but if you are concerned, check the followging page for areas of frequencies:<br>
<a href="https://translate.google.com/translate?hl=en&sl=ja&u=https://www.kepco.co.jp/brand/for_kids/teach/2016_03/detail1.html" rel="nofollow" target="_blank">Kansai Electric Power Co's official page about frequencies</a><br>
</article>

<article>
<h2>Traffic</h2>
Cars and trains drive on the left. People are encouraged to walk on the right.<br>
But there is one strange thing... In Tokyo area, people stand on the left on escalators, but in Western area of Japan, they stand on the right on escalators! We sometimes talk about where is the 'border' of this custom...but nobody around me seems to know. So if you found the border while traveling between the eastern and the western parts of Japan, let me know!!
</article>

<article>
<h2>Emergency Call</h2>
110 - Police<br>
119 - Amblulance</br>
</article>

<article>
<h2>Public Phone</h2>
Use coins or 'telephone card' sold at convenience stores. Prices start from 500 yen.
</article>

<article>
<h2>ATM</h2>
Japanese biggest banks don't seem to accept foreign cards. So where to go? Use Seven Bank ATMs, usually found at Seven-Eleven convenience stores! And this is why you will see Seven Bank ATMs at all airports in Tokyo.<br>
</article>

<article>
<h2>Address Notation</h2>
Japanese address system is not based on streets. Address are divided into blocks, sub-blocks, and so on.<br>
<br>
Some major components of Japanese address system:<br>
Prefecture (To, Do, Fu, Ken) - Tokyo-to, Hokkai-do, Kyoto-fu, Chiba-ken, etc.<br>
City (Shi)<br>
County (Gun)<br>
District or Ward (Ku)<br>
Town (Machi) / Village (Mura)<br>
Block number within town (Chome)<br>
Number inside Chome (Banchi)<br>
Room number (Go) <br>
<br>
EXAMPLE: the address of Tokyo Metropolitan Government on their website reads:<br>
8-1 Nishi-Shinjuku 2-chome, Shinjuku-ku, Tokyo 163-8001<br>
<br>
And here is how to decode it:<br>
1 (Go),<br>
8 (Banchi),<br>
2-chome, (Block number)<br>
Nishi-Shinjuku (Town)<br>
Shinjuku-ku (Ward)<br>
Tokyo (Prefecture)<br>
163-8001 (Postal code)<br>
</article>

<article>
<h2>Areas of Tokyo</h2>
Tokyo consists of 23 Wards, 26 cities, 1 county, 2 towns and 7 villages on islands.<br>
Probably you need to know only about some of the 23 wards.<br>
</article>

<article>
<h2>Are there dialects in Japan?</h2>
Japan has MANY dialects, some of which are hard to understand even for a Japanese. The most famous dialect is 'Osaka-ben' (dialect of Osaka prefecture). Dialects around Osaka, including 'Kyoto-ben' (dialect of Kyoto prefecture) are collectively known as 'Kansai dialect'.<br>
</article>

<article>
<h2>WiFi</h2>
Warning: If you see a sticker saying 'Free WiFi' at the front of a shop, look carefully. If it has an illustration of a white dog or a humanoid mushroom, it is free only for Japanese mobile contractors.<br>
<br>
Here are some free WiFi spots:<br>
<ul>
<li>Airports</li>
<li>Hotels/Hostels</li>
<li>Beck's coffee shops at JR train stations</li>
<li>Starbucks (but not at all shops)</li>
<li>Convenience stores (Registration with you email is required and can be tricky.)</li>
<li>Modern cafes/bars (but not all of them)</li>
<li>Tokyo Metro and Toei Subway stations and trains<br>
		<a rel="nofollow" target="_blank" href="https://www.tokyometro.jp/en/tips/freewifi/index.html">Tokyo Metro WiFi official site</a><br>
		<a rel="nofollow" target="_blank" href="https://www.kotsu.metro.tokyo.jp/eng/tips/free_wi-fi.html">TOEI subway WiFi official site</a><br>
</li>
<li>Tokyo Free WiFi Hotspots<a rel="nofollow" target="_blank" href="http://www.wifi-tokyo.jp/">Free WiFi offered by Tokyo prefectural administration</a><br>
</ul>
<br>
If you are staying for two week or less, buying  a prepaid sim card at the airport might be a safe bet.
</article>

<article>
<h2>What is the population of Tokyo/Japan?</h2>
The population of Tokyo is 13,857,443 as of 19 Jan. 2019  according to the Tokyo Metropolitan Government website.<br>
The population of Japan is 126,180,000 according to the government statistics as of 1 Nov. 2019.
</article>

</main>
<!-- ***************************
	BOTTOM AD / FOOTER
	**************************** -->
{% include ac_bottom_ad.x %}
{% include ac_footer.x %}
</body>
</html>
