<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<title>Popular Japanese Food</title>
	<meta name="description"	content="A few tips on some popular Japanese food such as soba, yakizakana, sushi and curry">
	<meta name="keywords"		content="Tokyo,Japan,food,eat,dish,cuisine,delicious">
	<link rel="canonical"		href="https://tokyotransportguide.com/en/food.html" />

	<link rel="stylesheet"		href="blue.css">
	{% include ac_pagelevel_ad_2017_07.x %}
</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">Popular Japanese Food</h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/">
			<img src="/img/web/fb29x29.png" alt="facebook"/>
	</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">

<!-- LEAD -->
<i>"If I had to eat only in one city for the rest of my life, Tokyo would be it."</i><br>
— Anthony Bourdain, CNN (<a rel="nofollow" target="_blank" href="http://edition.cnn.com/video/shows/anthony-bourdain-parts-unknown/season-2/tokyo/">source</a>)
<br>
<br>
Japanese food has a huge variety. It is not just about sushi or ramen, but much more. Here is just a few examples of them.<br>
<br>

<article>
<h2>Soba</h2>
While moving around by train in Tokyo, you will find soba stands very conveniently located at train stations - even on train platforms.<br>
Soba is a noodle made from buckwheat, usually blended with wheat flour. A hot bowl of soba is served in a soup made from soy sauce and dried fish. Cold soba is served with cold soup for dipping. They are always served with sliced long onions. Wasabi is also served with cold types of soba.<br>
<br>
<img src="/img/food/soba stand.jpg" alt="Soba Stand at a Train Station"/><br>
Soba Stand at a Train Station<br>
<br>
<img src="/img/food/soba ticket machine.jpg" alt="Soba Ticket Machine"/><br>
Ticket Machine for Soba<br>
You can use your SUICA or PASMO for buying a food ticket with this machine.<br>
<br>
<img src="/img/food/korokke soba.jpg" alt="Korokke Soba"/><br>
Korokke Soba<br>
(A korokke is a mashed potato mix, deep fried in a batter. See: <a href="https://en.wikipedia.org/wiki/Korokke">Wikipedia "Korokke"</a>)<br>
<br>
</article>

<article>
<h2>Ramen</h2>
Ramen is a big bowl of noodle in elaborate soup with a variety of toppings. While soba is genuinely Japanese, 'Ramen' is originally Chinese and evolved with a huge variety in Japan.<br>
<br>
</article>

<article>
<h2>Sushi</h2>
Perhaps you have already tried sushi in your country, but feel a bit of difference here. Green tea is always free at sushi restaurants. If you choose a place with sushi on a moving belt, the price of each plate is indicated the color of the plate which is shown either on the wall or on the menu.<br>
Each plate typically has two pieces of 'Maki' or 6 pieces of roll on it, although there are different styles as well. If you find a box of ginger around you, it is also free, and is provided for the purpose of enjoying the fresh taste of another kind after enjoying one.<br>
<br>
</article>

<article>
<h2>Yakizakana (simply grilled fish)</h2>
A whole or a large single piece of grilled fish is, in fact, an extremely popular home dish. Nothing will be add when cooking although some restaurants may possibly add just a pinch of salt. When served, pour some soy sauce over it and eat with chopsticks, avoiding bones. Yakizakana and plane white rice is a perfect combination.<br>
<br>
</article>

<article>
<h2>Tonkatsu (fried pork cutlet)</h2>
Although less known abroad than the items above, tonkatsu is among Japanese favorite dishes. It is a very thick slice of pork, deep fried in batter, served with very thin slices of cabbage, miso soup and rice.<br>
<br>
</article>

<article>
<h2>'Curry Rice' (curry with rice)</h2>
Originally coming from India, 'Curry Rice' is now a very casual food in Japan and you will find almost everywhere. Typical options are Vegetable Curry, Pork Curry, Beef Curry, and 'Katsu Curry' (curry & rice with pork cutlet on top). Some chain restaurants lets you select the level of spiciness from 1 to 10.<br>
</article>

</main>
<!-- ***************************
	BOTTOM AD / FOOTER
	**************************** -->
{% include ac_bottom_ad.x %}
{% include ac_footer.x %}
</body>
</html>
