<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<meta name="description"	content="Why I created this site: stray people in Tokyo">
	<link rel="stylesheet"		href="blue.css">
	<title>About this site</title>
</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">About this site</h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/">
			<img src="/img/web/fb29x29.png" alt="facebook"/>
	</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">

<article>
<h2>How it started...</h2>
A few years ago, I came back from my trip and arrived at Narita airport. My plan was to take a limited express train of Keisei Line to Ueno station, and then travel home by JR Line. The Keisei line station is on the underground floor. There is a ticket machine near the entrance gate of Keisei Line. Only the basic fare is required for the limited express, except for Skyliner, which requires additional fare. I bought a base fare ticket, because I didn't need to save 30 minutes by Skyliner. After I bought my ticket, I noticed that an Asian guy was in trouble trying to buy his ticket. So I helped him out, he was smiling and I was about to leave the ticket machine, but...there was a queue of people behind us, hoping to know how to buy their tickets from the complicated machine.<br>
<br>
I was on the platform, and Keisei limited express train arrived. So I almost went aboard, when I noticed that a guy with a big suitcase was still standing on the platform. I asked him why. He said, "I will not take a limited express train because additional fee will be required, right?" I said, "Nooo, you can take this limited express train only with base fare!"<br>
<br>
Tokyo has a very complicated public transport system. I hope you'll find some clue or tips here on getting around with trains and subways in Tokyo.<br>
I have just started writing this site and it is still very incomplete, but I'll try to fix it from time to time...
</article>

</main>
<!-- ***************************
	BOTTOM AD / FOOTER
	**************************** -->
{% include ac_bottom_ad.x %}
{% include ac_footer.x %}

</body>
</html>
