<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<title>From Haneda Airport To The City</title>
	<meta name="description"	content="How to travel from Haneda Airport to Tokyo/Yokohama">
	<link rel="canonical" href="https://tokyotransportguide.com/en/haneda-to-city.html" />

	<link rel="stylesheet"		href="blue.css">
	{% include ac_pagelevel_ad_2017_07.x %}
</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">From Haneda Airport To The City</h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/">
			<img src="/img/web/fb29x29.png" alt="facebook"/>
	</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">

<!-- LEAD -->
<i>How to buy a train/monorail ticket and get to the city center</i>

<article>
<h2>Overview</h2>
There are four ways to travel from Haneda Airport:<br>
<ul>
<li>Keikyu train</li>
<li>Tokyo Monorail</li>
<li>coach bus</li>
<li>taxi</li>
</ul>
<br>
</article>

<article>
<h2>By Monorail</h2>
<img src="/img/haneda/Haneda_Monorail.jpg" class="town_photo_r" alt="Haneda Monorail">

Tokyo Monorail connects between Haneda Airport and Hamamatsucho station of Yamanote Line (circle line in central Tokyo).<br>
"Daimon" station of Toei Asakusa subway line is right next to Hamamatsucho station. You will have an interesting view from the monorail. The price for travel between Hamamatsucho and Haneda airport is 490 yen as of January 2016. The travel from Haneda Airport International Terminal to Hamamatsucho takes 14 minutes or more, depending on the type of train:<ul>
<li>Haneda Express (13 minutes, non-stop)</li>
<li>Rapid (15 minutes, 3 stops)</li>
<li>Local (18 minutes, 6 stops)</li>
</ul>
You can ride any of them with base fare.<br>
Hamamatsucho is the last stop, so you can't miss it.<br>
<br>
For further details see: <a rel="nofollow" href="http://www.tokyo-monorail.co.jp/english/index.html">Official Tokyo Monorail website</a><br>
<br>
</article>


<article>
<h2>By Train</h2>
<img src="/img/haneda/Haneda_Keikyu.jpg" class="town_photo_r" alt="Haneda Airport - Keikyu Train Station - Platform">

Taking a train from Haneda is easy. Keikyu is the only train operator to Haneda Airport. The train has two stations at the airport, so you can walk easily to the train station from any terminal - Domestic I, II, or International. <br>
Direct trains operate towards Shinagawa, Yokohama, Asakusa and Narita Airport. Every train, in either directinon, stops at Kamata station.<br>
From Kamata, some trains go in the direction of Shinagawa and Asakusa, and others go in the direction of Kawasaki, Yokohama and Yokosuka.<br>

A train to Shinagawa takes 14 minutes, 410 yen.<br>
A train to Yokohama takes 27 minutes, 480 yen.<br>
A train to Asakusa takes 44 minutes, 660 yen.<br>
<br>

Trains are classified as follows:<ul>
<li style="color:black">Local (Kakueki-Teisha, Kakutei)</li>
<li style="color:blue">Express (Kyuko)</li>
<li style="color:blue">Airport Express (Airport Kyuko)</li>
<li style="color:red">Limited Express (Tokkyu)</li>
<li style="color:green">Rapid Limited Express (Kaitoku)</li>
<li style="color:green">Airport Rapid Limited Express (Airport Kaitoku)</li>
</ul>
You can ride any of above with base fare.<br>
The difference among the above is mostly about the number of stops - For local trains there are many stops! You can buy a PASMO (prepaid IC card) from a ticket machine and ride a Keikyu train or Monorail with that card.<br>
<br>
See: <a rel="nofollow" href="http://www.haneda-tokyo-access.com/en/">
		Keikyu train official website (English)</a><br>
<br>
</article>

<article>
<h2>By Bus</h2>
Keikyu Limousine bus connects Haneda Airport and Tokyo/Yokohama.<br>
<br>
See: 
<a rel="nofollow" href="http://www.haneda-tokyo-access.com/en/transport/limousinebus.html">Keikyu Limousine Bus website</a><br>
<br>
</article>

<article>
<h2>By Taxi</h2>
Taxi with fixed rate to Tokyo is available. Ask at the tourist information desk for details. <br>
<br>
</article>

</main>
<!-- ***************************
	BOTTOM AD / FOOTER
	**************************** -->
{% include ac_bottom_ad.x %}
{% include ac_footer.x %}
</body>
</html>
