<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<title>Haneda Airport</title>
	<meta name="description"	content="Three terminals of Haneda Airport - 1, 2, International">
	<link rel="canonical" href="https://tokyotransportguide.com/en/haneda-airport.html" />

	<link rel="stylesheet"		href="blue.css">
	{% include ac_pagelevel_ad_2017_07.x %}
</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">Haneda Airport</h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/">
			<img src="/img/web/fb29x29.png" alt="facebook"/>
	</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">

<!-- LEAD -->
<i>Survival Guide at Haneda Airport</i>

<article>
<h2>Haneda Airport Terminals</h2>
Haneda Airport has three terminals connected by free shuttle bus service:<br>
<ul>
<li>International Terminal</li>
<li>Domestic Terminal 1</li>
<li>Domestic Terminal 2</li>
</ul>
Free shuttle buses stop on the ground level in front of each terminal.<br>
You can walk between domestic terminals 1 and 2 in several minutes<br>
The international terminal is far from domestic terminals, so you need to take the free shuttle bus.<br>
<br>
</article>

<article>
<h2>Keikyu Line train stations</h2>
Keikyu Line has two stations at Haneda Airport:<ul>
<li>"Haneda Airport International Terminal" station</li>
<li>"Haneda Airport Domestic Terminal" station</li>
</ul>
You can buy a PASMO (prepaid IC card) from a Keikyu Line ticket machine.<br>
<br>
</article>

<article>
<h2>Tokyo Monorail stations</h2>
Tokyo Monorail Line has three stations at Haneda Airport:<ul>
<li>"Haneda Airport International Terminal" station</li>
<li>"Haneda Airport Domestic Terminal 1" station</li>
<li>"Haneda Airport Domestic Terminal 2" station</li>
</ul>
Unlike Keikyu Line, Monorail Line has a station at each of Domestic Terminals 1 and 2.<br>
<br>
You can also buy a 'Monorail SUICA (prepaid IC card)' from a ticket machine at any Keikyu station at Haneda airport.<br>
Monorail SUICA is 100% compatible with SUICA and PASMO, but you can get a deposit refund only at some Monorail stations for a fee.<br>
<br>
</article>

<article>
<h2>Haneda Airport official website</h2>
<ul>
<li><a rel="nofollow" href="http://www.tokyo-airport-bldg.co.jp/en/">in English</a></li>
<li><a rel="nofollow" href="http://www.tokyo-airport-bldg.co.jp/cn/">in Chinese</a></li>
<li><a rel="nofollow" href="http://www.tokyo-airport-bldg.co.jp/tw/">in Chinese (Taiwan)</a></li>
<li><a rel="nofollow" href="http://www.tokyo-airport-bldg.co.jp/kr/">in Korean</a></li>
</ul>
<br>
</article>

</main>
<!-- ***************************
	FOOTER
     *************************** -->
{% include ac_footer.x %}

</body>
</html>
