<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<title>Minimum Japanese Phrases</title>
	<meta name="description"	content="Minimum Japanese phrases for train, subway, bus, ticket, etc.">
	<meta name="keywords"		content="Japnaese,phrases,travel,tokyo,japan,train">
	<link rel="canonical" href="https://tokyotransportguide.com/en/japanese-phrases.html" />

	<link rel="stylesheet"		href="blue.css">

	<style type="text/css">
	<!--
		#phd table	{	width:				90%					}
		#phd table	{	color:				#ffffff				}
		#phd table	{	background:			#555555				}
		#phd table	{	border:				#ffffff solid 1px	}
		#phd table	{	border-collapse:	collapse			}

		#phd th		{	border:				#aaaaaa solid 1px	}
		#phd th		{	color:				#ccccff				}
		#phd th		{	text-align:			center				}
		#phd th		{	width:				50%					}

		#phd td		{	border:				#aaaaaa solid 1px	}
		#phd td		{	color:				white				}
		#phd td		{	text-align:			left				}
		#phd td		{	width:				50%					}
	-->
	</style>

	{% include ac_pagelevel_ad_2017_07.x %}
</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">Survival Japanese phrases for getting arond by public transport</h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/">
			<img src="/img/web/fb29x29.png" alt="facebook"/>
	</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">

<!-- LEAD -->
<i></i>

<h2>Mini Phrasebook</h2>
Japanese pronunciation is very simple. So don't be afraid!<br>
ā/ī/ū/ē/ō are long sounds of a/i/u/e/o respectively.<br>

<div id="phd">

<h3>Basic</h3>
<table class="ph">
<tr><td>Yes.</td><td>Hai.<td><tr>
<tr><td>No.</td><td>Īe.</td><tr>
<tr><td>Thank you.</td><td>Arigatō.</td><tr>
<tr><td>Hello.</td><td>Konnichiwa.</td><tr>
<tr><td>Good bye.</td><td>Sayōnara.</td><tr>
<tr><td>Excuse me.</td><td>Sumimasen. (To stop somebody)</td><tr>
<tr><td>I'm sorry.</td><td>Sumimasen. / Gomennasai.</td><tr>
<tr><td>Pease give me ...</td><td>... o kdasai.</td><tr>
<tr><td>How much is this?</td><td>Kore wa ikura desu ka?</td><tr>
<tr><td>How much is that?</td><td>Sore wa ikura desu ka?</td><tr>
<tr><td>Can you write on a paper, please?</td><td>Kami ni kaite morae masu ka?</td><tr>
<tr><td>What is this?</td><td>Kore wa nandesu ka?</td><tr>
<tr><td>It is ...</td><td>Sore wa ... desu.</td><tr>
</table>

<h3>Buying A Ticket</h3>
<table  class="ph">
<tr><td>I want to go to ...</td><td>Watashi wa ... e ikitai desu.</td><tr>
<tr><td>How much is a ticket to ...?</td><td>... made no kippu wa ikura desu ka?</td><tr>
<tr><td>How much is it for a child?</td><td>Kodomo ryōkin wa ikura desu ka?</td><tr>
<tr><td>I don't mind about the price.</td><td>Takakutemo ī desu.</td><tr>
<tr><td>I'd like the cheapest ticket.</td><td>Ichiban yasui kippu ga ī desu.</td><tr>
<tr><td>I'd like to get there faster.</td><td>Hayaku tsuku hou ga ī desu.</td><tr>
<tr><td>Will I have to transfer?</td><td>Norikae suru hitusyō ga arimasu ka?</td><tr>
<tr><td>At what station will I have to transfer?</td><td>Nani eki de norikae desu ka?</td><tr>
<tr><td>Is 'Takasago' the transfer station?</td><td>Norikae wa 'Takasago' eki desu ka?</td><tr>
<tr><td>I want to buy a PASMO (SUICA) for this child.</td><td>Kodomo no PASMO (SUICA) o kaitai desu.</td><tr>
<tr><td>Here is the passport for this child.</td><td>Konoko no pasupōto desu.</td><tr>
</table>


<h3>Looking for...</h3>
<table  class="ph">
<tr><td>Where is ...?</td><td>... wa doko desu ka?</td><tr>
<tr><td>Where is the toilet?</td><td>Toire wa doko desu ka?</td><tr>
<tr><td>Where is the entrance?</td><td>Iriguchi wa doko desu ka?</td><tr>
<tr><td>Where is the exit?</td><td>Deguchi wa doko desu ka?</td><tr>
<tr><td>Where is the Tokyo Station?</td><td>Tokyo Eki wa doko desu ka?</td><tr>
<tr><td>Where can I buy a ticket?</td><td>Kippu wa doko de kaemasu ka?</td><tr>
<tr><td>Where are we?</td><td>Koko wa doko desu ka?</td><tr>
<tr><td>It there a bank ATM near here?</td><td>Kono hen ni ATM wa arimasu ka?</td><tr>
<tr><td>Is there a Seven-Eleven near here?<br>(Seven-Eleven ATMs accept foreign credit cards)</td>
	<td>Kono hen ni sebun irebun wa arimasu ka?</td>
</table>

<h3>At a Train Station</h3>
<table  class="ph">
<tr><td>What is the departure time?</td><td>Shuppatsu wa nanji desu ka?</td><tr>
<tr><td>What is the arrival time to ...?</td><td>... ni wa  nanji ni tsuki masu ka?</td><tr>
<tr><td>Where is the platform for this train?</td><td>Kono densha no purattohomu ka?</td><tr>
<tr><td>What is the platform number for this train?</td><td>Kono densha wa nanbansen kara hassha shimasu ka?</td><tr>
<tr><td>At what time will the next train leave?</td><td>Tsugi no densha wa nanji ni hassha shimasu ka?</td><tr>
<tr><td>Does this train go to 'Asakusa' station?</td><td>Kono densha wa 'Asakuda' eki ni ikimasu ka?</td><tr>
<tr><td>Does this train stop at 'Asakusa' station?</td><td>Kono densha wa 'Asakuda' eki ni tomarimasu ka?</td><tr>
</table>

<h3>On a Train</h3>
<table  class="ph">
<tr><td>Is this 'Asakusa' station?</td><td>Kore wa 'Asakusa' eki desu ka?</td><tr>
<tr><td>Is 'Asakusa' station still ahead?</td><td>'Asakusa' eki wa mada saki desu ka?</td><tr>
<tr><td>What is the next station?</td><td>Tsugi no eki no namae wa nan desu ka?</td><tr>
<tr><td>What is this station?</td><td>Kono eki wa nan desu ka?</td><tr>
</table>

</div>
<br>
<br>

</main>
<!-- ***************************
	BOTTOM AD / FOOTER
	**************************** -->
{% include ac_bottom_ad.x %}
{% include ac_footer.x %}
</body>
</html>
