<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<title>Keisei Line Timetables and Route Map Links</title>
	<meta name="description"	content="Keisei Line Timetables from Narita Airport in English">
	<meta name="keywords"		content="Keisei,Skyliner,Sky Access,Tokyo,Narita,airport,timetable,train,schedule">
	<link rel="canonical" href="https://tokyotransportguide.com/en/keisei-line-timetables.html" />

	<link rel="stylesheet"		href="blue.css">
	{% include ac_pagelevel_ad_2017_07.x %}
</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">Keisei Line Timetables and Rout Map Links</h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/" rel="nofollow" target="_blank" >
			<img src="/img/web/fb29x29.png" alt="facebook"/>
		</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">

<h1>Keisei Line Timetables</h1>

<article>
<h2>Timetables for Stations: Narita Airport Terminals, Nippori, Ueno</h2>

<h3>Links to Keisei Line Time Tables and Route Map</h3>

The following are links to the official timetables of Keisei Main Line, Sky Access Line, and Skyliner.<br>
You will also find a simplified and readable Keisei Line route map on them.<br>
<br>


<h4>Keisei Line Timetables in English</h4>
<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/us/timetable/index.php"  target="_blank" rel="nofollow">
Keisei Line timetables for desktop PC</a>
<br>

<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/us/sp/timetable/index.php"  target="_blank" rel="nofollow">
Keisei Line timetables (mobile-friendly)</a>
<br>

<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/us/sp/skyliner/"  target="_blank" rel="nofollow">Keisei Skyliner Timetables</a>
<br>


<h4>Keisei Line Timetables in Korean (한글)</h4>
<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/kr/timetable/index.php"  target="_blank" rel="nofollow">
Keisei Line timetables for desktop PC</a>
<br>

<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/kr/sp/timetable/index.php"  target="_blank" rel="nofollow">
Keisei Line timetables (mobile-friendly)</a>
<br>

<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/kr/sp/skyliner/"  target="_blank" rel="nofollow">Keisei Skyliner Timetables</a>
<br>


<h4>Keisei Line Timetables in Chinese (繁體中文)</h4>
<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/cn/timetable/index.php"  target="_blank" rel="nofollow">
Keisei Line timetables for desktop PC</a>
<br>

<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/cn/sp/timetable/index.php"  target="_blank" rel="nofollow">
Keisei Line timetables (mobile-friendly)</a>
<br>

<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/cn/sp/skyliner/"  target="_blank" rel="nofollow">Keisei Skyliner Timetables</a>
<br>


<h4>Keisei Line Timetables in Simplified Chinese (简体中文)</h4>
<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/cn/timetable/index.php"  target="_blank" rel="nofollow">
Keisei Line timetables for desktop PC</a>
<br>

<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/cn/sp/timetable/index.php"  target="_blank" rel="nofollow">
Keisei Line timetables (mobile-friendly)</a>
<br>

<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/cn/sp/skyliner/"  target="_blank" rel="nofollow">Keisei Skyliner Timetables</a>
<br>


<h4>Keisei Line Timetables in Thai (ภาษาไทย)</h4>
<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/th/timetable/index.php"  target="_blank" rel="nofollow">
Keisei Line timetables for desktop PC</a>
<br>

<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/th/sp/timetable/index.php"  target="_blank" rel="nofollow">
Keisei Line timetables (mobile-friendly)</a>
<br>

<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/th/sp/skyliner/"  target="_blank" rel="nofollow">Keisei Skyliner Timetables</a>
<br>

<!--
<h3>Keisei Line Timetables in Japanese (日本語)</h3>
<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/ja/timetable/index.php"  target="_blank" rel="nofollow">
Keisei Line timetables for desktop PC</a>
<br>

<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/ja/sp/timetable/index.php"  target="_blank" rel="nofollow">
Keisei Line timetables (mobile-friendly)</a>
<br>

<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/ja/sp/skyliner/"  target="_blank" rel="nofollow">Keisei Skyliner Timetables</a>
<br>
-->
<br>
</article>



<!--
<article>
<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/us/timetable/index.php#narita1_s" rel="nofollow" target="_blank">
	Terminal 1, Skyliner</a><br>
<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/us/timetable/index.php#narita1_ae" rel="nofollow" target="_blank">
	Terminal 1, Access Express</a><br>
<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/us/timetable/index.php#narita1_kml" rel="nofollow" target="_blank">
	Terminal 1, Main Line</a><br>
<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/us/timetable/index.php#narita2_s" rel="nofollow" target="_blank">
	Terminal 2, Skyliner</a><br>
<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/us/timetable/index.php#narita2_ae" rel="nofollow" target="_blank">
	Terminal 2, Access Express</a><br>
<a href="http://www.keisei.co.jp/keisei/tetudou/skyliner/us/timetable/index.php#narita2_kml" rel="nofollow" target="_blank">
	Terminal 2, Main Line</a><br>
<br>
</article>
-->


</main>
<!-- ***************************
	BOTTOM AD / FOOTER
	**************************** -->
{% include ac_bottom_ad.x %}
{% include ac_footer.x %}
</body>
</html>
