<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<title>Train Schedule for New Year's Eve</title>
	<meta name="description" content="New Year & New Year's Eve -- ">
	<meta name="keywords" content="Tokyo,train,metro,JR,TOEI,Tokyo metro,New Year's Eve,all night,schedule,sunrise">
	<link rel="canonical" href="https://tokyotransportguide.com/en/new-years-eve-train-schedule.html" />

	<link rel="stylesheet"		href="blue.css">
	{% include ac_pagelevel_ad_2017_07.x %}
</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">Train Schedule for New Year's Eve</h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/" rel="nofollow" target="_blank" >
			<img src="/img/web/fb29x29.png" alt="facebook"/>
		</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">

<article>
<h2>JR East</h2>
<table border="0">
	<tr>
		<td><b>Yamanote Line</b></td>
		<td>Every 12 min from about 1:00 till 5:00, in both directions (clockwise / couter-clockwise)</td>
	</tr>
	<tr>
		<td><b>Chuo Line (Tokyo <--> Takao)</b></td>
		<td>Every 20-55 min from about 0:00 till 5:00</td>
	</tr>
	<tr>
		<td><b>Keihin Toyoku Line (Omiya <--> Sakuragicho)</b></td>
		<td>Every 20-55 min from about 1:00 till :00</td>
	</tr>
	<tr>
		<td><b>Keihin Toyoku Line (Sakuragicho <--> Ofuna)</b></td>
		<td>Every 60-80 min from about 1:00 till 4:00</td>
	</tr>
	<tr>
		<td><b>Keihin Toyoku Line (Sakuragicho <--> Ofuna)</b></td>
		<td>Every 60-80 min from about 1:00 till 4:00</td>
	</tr>
</table>
</article>

<article>
<h2>Tokyo Metro</h2>
<table border="0">
	<tr>
		<td><b>Ginza Line (Asakusa <--> Ueno)</b></td>
		<td>Every 7 min</td>
	</tr>
	<tr>
		<td><b>Ginza Line (Ueno <--> Tameike-Sanno)</b></td>
		<td>Every 15 min</td>
	</tr>
	<tr>
		<td><b>Other (Marunouchi, Hibiya, Chiyoda, Tozai, Yurakucho, Hanzomo, Fukutoshin, Nanboku Lines)</b></td>
		<td>Every 30 min</td>
	</tr>
</table>
</article>

<article>
<h2>Toei Metro</h2>
<table border="0">
	<tr>
		<td><b>Asakusa Line (Nishimagome <--> Oshiage)</b></td>
		<td>Every 30 min</td>
	</tr>
	<tr>
		<td><b> Mita Line (Meguro <--> Nishi-Takashimadaira)</b></td>
		<td>Every 30-60 min</td>
	</tr>
	<tr>
		<td><b> Shinjuku Line (Shinjuku <--> Motoyawata)</b></td>
		<td>Every 30-40 min</td>
	</tr>
	<tr>
		<td><b> Oedo Line (Tocho-mae <--> Hikarigaoka)</b></td>
		<td>Every 30-40 min</td>
	</tr>
</table>
</article>

<br>

</main>
<!-- ***************************
	BOTTOM AD / FOOTER
	**************************** -->
{% include ac_bottom_ad.x %}
{% include ac_footer.x %}
</body>
</html>
