<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<title>New Year & New Year's Eve</title>
	<meta name="description" content="New Year & New Year's Eve -- ">
	<meta name="keywords" content="Tokyo,train,New Year,New Year's Eve,all night,schedule,sunrise">
	<link rel="canonical" href="https://tokyotransportguide.com/en/new-year.html" />

	<link rel="stylesheet"		href="blue.css">
	{% include ac_pagelevel_ad_2017_07.x %}
</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">New Year & New Year's Eve</h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/" rel="nofollow" target="_blank" >
			<img src="/img/web/fb29x29.png" alt="facebook"/>
		</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">

<article>
<h2>On New Year's Eve, trains of Tokyo run all night.</h2>
On January 1st, the biggest holiday in Japan, many people hang out in town or visit someone,  so trains will be very busy even all night. On Jan. 1st in the morning some people rush to beaches see the first sunrise. Others make a visit to temples or shrines and make a wish of the year by throw a coin.<br>
<br>
See the following page for train schedules from December 31, 2019 to January 1st, 2020:<br>
<a href="new-years-eve-train-schedule.html">New Year's Eve Train Schedule</a><br>
</artile>

<article>
<h2>Kimono</h2>
The first few days of New Year is the time when you can see a lot of women in Kimono on the street. If you wish, there should be some rental Kimono shops in Tokyo.
</article>

<article>
<h2>The First Sunrise from the sea</h2>
Some people will stay on beaches until the morning, to see the First Sunrise from the sea There will A LOT of people on the beach, and roads to and from the beach will be extremely crowded, just like train platforms during rush hours. I do not recommend you to do it unless you know what you are doing. If you ever do, I strongly recommend you to go only with a local whom you know very well, wear very warm clothes and shoes, and be warned that there will not be toilets or even if there is, you may have to join a long queue. And the sand on the beach will be very cold in the morning. I wouldn't go there in ordinary leather shoes. In case if you still want to know, the sunrise in Tokyo on 1 January 2020 will be at 06:51.
</article>

<article>
<h2>The two most famous shrine/temple for New Year's Days</h2>
Meiji-Jingu shrine in Harajuku and and Senso-ji temple in Asakusa are the two most popular spots on New Year's Day. People rush to them from very early in the morning till late at night. Especially, the lively atmosphere in Asakusa town surrounding the Sensoji temple is unbeatable. By the way, I'd recoomend staying in Asakusa to avoid all the hassle of travel by crowded trains. I use the following site in most times of travelling, so here it is:<br>
</article>
<br>

<!-- booking.com Asakusa search box -->

<ins class="bookingaff" data-aid="1934464" data-target_aid="1934464" data-prod="nsb" data-width="100%" data-height="auto" data-lang="ualng" data-dest_id="2042" data-dest_type="district">
    <!-- Anything inside will go away once widget is loaded. -->
        <a href="//www.booking.com?aid=1934464" rel="nofollow">Booking.com</a>
</ins>
<script type="text/javascript">
    (function(d, sc, u) {
      var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = u + '?v=' + (+new Date());
      p.parentNode.insertBefore(s,p);
      })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
</script>

<br>

</main>
<!-- ***************************
	BOTTOM AD / FOOTER
	**************************** -->
{% include ac_bottom_ad.x %}
{% include ac_footer.x %}
</body>
</html>
