<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<title>About Tokyo</title>
	<meta name="description"	content="About Tokyo">
	<meta name="keywords"		content="Tokyo,Japan,trivia,history,planning">
	<link rel="canonical"		href="https://tokyotransportguide.com/en/tokyo.html" />
	<link rel="stylesheet"		href="blue.css">
	{% include ac_pagelevel_ad_2017_07.x %}
</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">About Tokyo</h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/">
			<img src="/img/web/fb29x29.png" alt="facebook"/>
	</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">

<!-- LEAD -->
<i></i>

<article>
<h2>What is the population of Tokyo?</h2>

A. The population of Tokyo was 13,474,454 as of July 1, 2015<br>
<br>
</article>

<article>
<h2>Where is the center of Tokyo?</h2>

A. Tokyo consists of 23 wards (called '23-ku'), some cities and villages including islands located south of Tokyo. The most interesting destinations can be found around the Yamanote Line which runs in circles, clockwise and counter-clockwise.<br>
So if you dare to struggle with the extremely complicated railway map of Tokyo, start with Yamanote Line, and memorize key stations of Yamanote Line such as Shinjuku, Shibuya, Shinagawa, Shimbashi, Tokyo, Aakihabara and Ueno. The station names in Japanese language may sound very unfamiliar to you, but probably you'll get used to it soon...<br>
<br>
</article>

<article>
<h2>Where in Tokyo should I stay?</h2>

If you still can't decide where to stay in Tokyo, Asakusa town may be a good candidate, regardless of if you are a backpacker or a gorgeous traveler. There are direct and cheap trains from Narita airport to Asakusa.<br>
<br>
</article>

<article>
<h2>Where are Tourist Destinations in Tokyo?</h2>

Tokyo Metropolis is really huge, and has many tourist attractions. Find the following destination on your guide book:<br>
<br>
</article>

<article>

</main>
<!-- ***************************
	BOTTOM AD / FOOTER
	**************************** -->
{% include ac_bottom_ad.x %}
{% include ac_footer.x %}
</body>
</html>
