<!DOCTYPE html>
<html lang="en">
<head>
	{% include ac_head_first.x %}

	<title>Public Transport Q&A</title>
	<meta name="description"	content="An overview of public transport - train, subway, bus, ticket, etc.">
	<meta name="keywords"		content="Tokyo,Japan,airport,train,taxi,metro,subway,ticket,transportation">
	<link rel="canonical"		href="https://tokyotransportguide.com/en/transportation.html" />

	<link rel="stylesheet"		href="blue.css">
	{% include ac_pagelevel_ad_2017_07.x %}
</head>
<body class="whitebody">
<!-- ***************************
	JS CHECK / PAGE BANNER
	**************************** -->

{% include ac_top_banner.x %}

<!-- ***************************
	PAGE TITLE / TOP AD
     *************************** -->
<div class="page_title_area">
	<div class="ycella">
		<h1 class="page_title">Public Transport Q&A</h1>
	</div>
	<div class="ycellb">
		<a class="fbbutton" href="https://www.facebook.com/TokyoTransportGuide/">
			<img src="/img/web/fb29x29.png" alt="facebook"/>
	</a>
	</div>
</div>
<hr>
{% include ac_top_ad.x %}

<!-- ***************************
	ARTICLES
     *************************** -->
<main class="maintext">

<!-- LEAD -->
<i></i>

<article>
<h2>Can I ride a Tokyo city bus with SUICA/PASMO?</h2>
Yes. The price is 206 yen if you pay with your IC card, 210 yen if you pay cash, for an adult. For a child, 103 yen if you pay with your IC card, 100 yen if you pay cash. There are no tickets.<br>
Get on from the front door. Pay to the driver by your IC Card, coins, or a 1,000 yen bank note.<br>
you will see a lot of buttons in the bus. When you want to get off at the next stop, press the button.<br>
Get off from the automatic door at the middle of the bus.<br>
Do not stand too close the exit door, because the automatic safety system will not allow the door to open, when someone is standing too close to the door.<br>
</article>
<br>

<article>
<h2>How much is the minimum fare for a taxi ride?</h2>
<p style="text-decoration: line-through">
The minimum fare for up to 2 km in central Tokyo is 730 during the daytime (05:00-22:00). At night (22:00-05:00) add 20%.</p>
[The minimum fare has changed as of January 2017.]<br>
The minimum fare for up to 1.052 km in central Tokyo is from 380 to 410 yen, depending on the taxi operator, during the daytime (05:00-22:00). At night (22:00-05:00) add 20%. After 2 km, fare will be added based on the combination of distance and time.</p>
Some taxi companies offer fixed prices from airports. See below.<br>
</article>

<br>

<article>
<h2>How much is the fixed taxi fare from airports to Central Tokyo?</h2>
Some taxi companies offer fixed prices from airports based on area and time.<br>
<br>
From Narita Airport, fixed prices of taxis ranges between about 16,000 - 24,500 yen through ordinary roads in the daytime.<br>
If you want to go through highways, the prices ranges 18,500 - 26,500 in the daytime, and you will be asked to pay additional cost of highways.<br>
For details, see their official website:<br>
&nbsp; <a href = "https://www.narita-airport.jp/en/access/taxi" target="_blank" rel="nofollow">Taxi (Narita Airport Official Site)</a><br>
<br>

From Haneda about 5,900 - 11,200 in daytime, and 7,100 - 13,200 at late night (22:00 - 05:00).<br>
For details, see their official website:<br>
&nbsp; <a href = "http://www.taxi-tokyo.or.jp/teigaku/to.html" target="_blank" rel="nofollow">Taxi (Tokyo Hire-Taxi Association</a><br>

</article>

<br>

<article>
<h2>Can I ride a Tokyo city bus with SUICA/PASMO?</h2>
Yes. The price is 206 yen if you pay with your IC card, 210 yen if you pay cash, for an adult. For a child, 103 yen if you pay with your IC card, 100 yen if you pay cash.<br>
</article>

</main>
<!-- ***************************
	BOTTOM AD / FOOTER
	**************************** -->
{% include ac_bottom_ad.x %}
{% include ac_footer.x %}
</body>
</html>
